<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>InHotel</title>
<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet">
<script src="js/jquery-1.11.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
</head>
<body>
<nav role="navigation"  class="navbar navbar-default  fx_top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a href="#" class="navbar-brand"><img src="images/logo.png"></a> </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right mr_top">
        <a href="#" class="trys mr_rte">Try Free</a>
        <li> <a href="#" id="active">Home</a> </li>
        <li> <a href="#">Download</a> </li>
        <li> <a href="#">Faq</a> </li>
        <li class="mr_rte"> <a href="#">Contact</a> </li>
        <a href="#" class="reglgn">Login</a> <a href="#" class="reglgn">Register</a>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
<div  class="grn_bg">
  <div class="container bnr_img">
    <div class="row col-lg-6">
      <h1>Hey, who's next door?</h1>
      <div class="col-lg-12 row">
        <h2> New Places, new People, new experiences<br>
          The better way of living the hotel! </h2>
        <a href="#" class="trys1">Try Free</a></div>
      InHotel is a platform mobile messaging app allowing you to exchange messages with the other guests in your hotel. It helps you to meet new people during your business trips or on vacation.<br>
      Lets’ say that you are away from home on your own or with friends and you are in your hotel room, extremely bored and lonely. Don’t worry, next door there could be someone just like you.
      <div class="aps"><a href="#"><img src="images/apple-download.png" style="margin-right:10px;"></a><a href="#"><img src="images/android-download.png"></a></div>
    </div>
  </div>
</div>
<div class="container gbg">
  <div class="row">
    <div class="col-md-8 col-sm-7">
      <h2 >+How it works?</h2>
      <div class="row lst">
        <li>Download InHotel for <span>free</span> from <span>Apple</span> Store, <span>Play</span> Store </li>
        <li>Create your <span>own profile</span></li>
        <li>Login with the code that the hotel administrator will provide you</li>
        <li>See <span>who is online</span> and get in <span>touch</span></li>
        <li>Invite them for <span>coffee, business networking</span> or to simply do something <span>fun</span></li>
        <div class="gbs"><a class="btn btn-dn" href="3">Download Now</a></div>
      </div>
    </div>
    <div class=" pull-right hdn">
      <div class="bs-example">
        <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
          <!-- Carousel indicators -->
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item"> <img src="images/1.png"> </div>
            <div class="item"> <img src="images/2.png"> </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev"> </a> <a class="carousel-control right" href="#myCarousel" data-slide="next"> </a> </div>
      </div>
    </div>
    <div class="wd100">
      <h2 class="mrbt1">+See what InHotel can do for your <br/>
        business</h2>
      <div class="row ">
        <div class="col-md-5 mrbt">
          <div class="lstn"> <img alt="" src="images/img-elenco1.jpg">
            <h3>Be more Visible with InHotel </h3>
            With InHotel your hotel name and link will be visible on our application page at the Apple, Android and Windows mobile stores. Thus you can reduce OTA hotel commissions by attracting more clients directly to your official website. </div>
        </div>
        <div class="col-md-6 mrbt pull-right">
          <div class="lstn"> <img alt="" src="images/img-elenco2.jpg">
            <h3>Value your customers’ taste</h3>
            InHotel provides you with statistical data including not only the usual parameters like gender, nationality and age but also more detailed information such as interests, profession, hobbies and the social status of your customers... Thus you can analyze and focus your marketing and sales strategies, enhance loyalty among your clients according to their preferences and purchase behavior. </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-5 mrbt">
          <div class="lstn"> <img alt="" src="images/img-elenco3.jpg">
            <h3> Be different and earn more with InHotel</h3>
            InHotel is an app that covers all the common hotel areas such as bars, restaurants and Spas...
            
            Thus you can increase the public interest and the revenue of those outlets. </div>
        </div>
        <div class="col-md-6 mrbt pull-right">
          <div class="lstn"> <img alt="" src="images/img-elenco4.jpg">
            <h3>Become Competitive</h3>
            With InHotel you can transform your business into a competitive destination that is able to find the right balance between digital and human based hospitality services... </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 mrbt">
          <div class="lstn"> <img alt="" src="images/img-elenco5.jpg">
            <h3> Communicate with them</h3>
            InHotel gives you the opportunity to communicate directly with your customers. You can send them promotional messages or any other kind of important communication... Thus you can get in direct contact with your customers, meeting their needs and personalizing your service. </div>
        </div>
        <div class="col-md-6 mrbt pull-right">
          <div class="lstn"> <img alt="" src="images/img-elenco6.jpg">
            <h3>Build loyalty</h3>
            InHotel is not only a last generation digital tool but also an advantage that will turn and keep your customers loyal... Thus you can have more recurrent visits and higher recommendation levels. </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 "><img src="images/bg.jpg" width="100%"></div>
</div>
<div id="footer">
  <div class="container">
    <div class="col-lg-10 col-md-push-1 pds"> <span class="pull-left flwd"> &reg; 2015 <a title="" href="#">In Hotel</a> - All rights reserved</span>
      <p class="pull-right flwd"> <a href="#">home</a> &nbsp;-&nbsp;<a  href="#">privacy</a> &nbsp;-&nbsp;<a  href="#">legal notes</a> &nbsp;-&nbsp;<a  href="#">contacts</a> </p>
    </div>
  </div>
</div>
</body>
</html>
