<table style="border: 1px solid #6d92a0; border-radius: 3px 3px 3px 3px; width: 700px;" cellspacing="0" cellpadding="0" bgcolor="#6D92A0">
<tbody>
<tr>
<td style="padding: 10px; font: normal 14px Arial, Helvetica, sans-serif; color: #0063df;" colspan="2">
<p style="font-size: 18px; text-align: center;"><a style="text-decoration: none;" href="#URL#"><img src="#LOGO#" alt="" style="background-color: green; outline: medium none; border: medium none; padding: 15px;" width="156" /></a></p>
</td>
</tr>
<tr>
<td>
<table style="background: none repeat scroll 0% 0% #f2f2f2; padding: 30px 10px; border-radius: 5px 5px 5px 5px; width: 630px;" border="0" align="center">
<tbody>
<tr>
<td style="padding: 10px 25px; font: normal 14px Arial, Helvetica, sans-serif; color: #333;">
<p style="font-size: 22px; margin: 0;">Hi #ENAME#,</p>
</td>
</tr>
<tr>
<td style="padding: 10px 25px; font: normal 14px Arial, Helvetica, sans-serif; color: #333;">
<p style="font-size: 16px; margin-top: 05px; margin-bottom: 05px;">You have been successfully registered with Rotolegends.&nbsp;</p>
<p style="font-size: 16px; margin-top: 0px;">Your account details are :</p>
<p style="font-size: 16px; margin-top: 0px; margin-bottom: 05px;">Username : #USERNAME#</p>
<p style="font-size: 16px; margin-top: 0px;">Password : #PASSWORD#</p>
<p style="font-size: 16px; margin-top: 0px;">Thank you for registering with us.</p>
</td>
</tr>
<tr>
<td style="padding: 0px 25px; font: normal 14px Arial, Helvetica, sans-serif; color: #333;"><!--<p style="font-size: 14px; margin-top: 0px; margin-bottom: 0px;"><a style="color: #1663cc; text-decoration: none;" href="#URL#admin">Click here to Login..</a></p>--></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td>
<p style="color: #fff; font-size: 12px; padding-left: 38px;">Webmaster<br /> rotolegends</p>
</td>
</tr>
<tr>
<td style="color: #212121; font-size: 12px; height: 16px; background: #387489; padding: 10px 25px; font-family: Arial, Helvetica, sans-serif;">Copyright &copy; 2015 <a style="color: #fff; text-decoration: none;" href="#URL#">rotolegends.com</a></td>
</tr>
</tbody>
</table>





<table style="border: 1px solid #6d92a0; border-radius: 3px 3px 3px 3px; width: 700px;" cellspacing="0" cellpadding="0" bgcolor="#6D92A0">
<tbody>
<tr>
<td style="padding: 10px; font: normal 14px Arial, Helvetica, sans-serif; color: #0063df;" colspan="2">
<p style="font-size: 18px; text-align: center;"><a style="text-decoration: none;" href="#URL#"><img src="#LOGO#" alt="" style="background-color: green; outline: medium none; border: medium none; padding: 15px;" width="156" /></a></p>
</td>
</tr>
<tr>
<td>
<table style="background: none repeat scroll 0% 0% #f2f2f2; padding: 30px 10px; border-radius: 5px 5px 5px 5px; width: 630px;" border="0" align="center">
<tbody>
<tr>
<td style="padding: 10px 25px; font: normal 14px Arial, Helvetica, sans-serif; color: #333;">
<p style="font-size: 22px; margin: 0;">Hi Admin,</p>
</td>
</tr>
<tr>
<td style="padding: 10px 25px; font: normal 14px Arial, Helvetica, sans-serif; color: #333;">
<p style="font-size: 16px; margin-top: 05px; margin-bottom: 05px;">Username : #USERNAME#</p>
<p style="font-size: 16px; margin-top: 0px;">Password : #PASSWORD#</p>
</td>
</tr>
<tr>
<td style="padding: 0px 25px; font: normal 14px Arial, Helvetica, sans-serif; color: #333;">
<p style="font-size: 14px; margin-top: 0px; margin-bottom: 0px;"><a style="color: #1663cc; text-decoration: none;" href="#URL#admin">Click here to Login..</a></p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td>
<p style="color: #fff; font-size: 12px; padding-left: 38px;">Webmaster<br /> rotolegends</p>
</td>
</tr>
<tr>
<td style="color: #212121; font-size: 12px; height: 16px; background: #387489; padding: 10px 25px; font-family: Arial, Helvetica, sans-serif;">Copyright &copy; 2015 <a style="color: #fff; text-decoration: none;" href="#URL#">rotolegends.com</a></td>
</tr>
</tbody>
</table>