body {
	width: 100%;
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
	color: #666666;
	background-color: #e2e2e2;
	text-transform: none;
}
html {
	width: 100%;
	height: 100%;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 35px;
	text-transform: uppercase;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
}
p {
	margin: 0 0 25px;
	font-size: 18px;
	line-height: 1.5;
}
 @media(min-width:767px) {
 p {
 margin: 0 0 35px;
 font-size: 20px;
 line-height: 1.6;
}
}
a {
	color: #333333;
 -webkit-transition: all .2s ease-in-out;
 -moz-transition: all .2s ease-in-out;
 transition: all .2s ease-in-out;
}
a:hover, a:focus {
	text-decoration: none;
	color: #176e61;
}
.light {
	font-weight: 400;
}
.navbar {
	margin-bottom: 0;
	border-bottom: 3px solid #1663cc;
	text-transform: uppercase;
	background-color: #fff!important;
	color:#333!important;
}
.navbar-brand {
	font-weight: 700;
}
.navbar-brand:focus {
	outline: 0;
}
.navbar-custom a {
	color: #333;
}
.navbar-custom .nav li a {
 -webkit-transition: background .3s ease-in-out;
 -moz-transition: background .3s ease-in-out;
 transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus, .navbar-custom .nav li.active {
	outline: 0;
	background-color: rgba(255, 255, 255, .2);
}
.navbar-toggle {
	padding: 4px 6px;
	font-size: 16px;
	color: #fff;
}
.navbar-toggle:focus, .navbar-toggle:active {
	outline: 0;
}
.logobg {
	background-color:#1663cc!important;
	color: #FFF!important;
	padding:20px 35px!important;
	font-size:41px!important;
	font-family: 'Roboto', sans-serif;
	letter-spacing:-1px!important;
	text-transform:none!important
}
.h_links {
	margin-top:5px;
}
.navbar-toggle {
	background-color:#1663cc!important;
	border-radius:2px!important;
	padding:8px;
}
 @media(min-width:767px) {
 .navbar {
 border-bottom: 5px solid #1663cc;
 letter-spacing: 1px;
 background: 0 0;
 -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
 -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
 transition: background .5s ease-in-out, padding .5s ease-in-out;
}
 .top-nav-collapse {
 padding: 0;
 background-color: #000;
58
}
}
 @media(min-width:767px) {
 .intro {
 height: 100%;
 padding: 0;
}
 .brand-heading {
 font-size: 100px;
}
 .intro-text {
 font-size: 46px;
margin-bottom:85px;
margin-top:45px;
line-height:inherit;
font-weight:100;
}
.social-icons {
margin-top:185px;
margin-bottom:55px;
}
}
.btn-circle {
	width: 70px;
	height: 70px;
	margin-top: 15px;
	padding: 7px 16px;
	border: 2px solid #fff;
	border-radius: 35px;
	font-size: 40px;
	color: #fff;
	background: 0 0;
 -webkit-transition: background .3s ease-in-out;
 -moz-transition: background .3s ease-in-out;
 transition: background .3s ease-in-out;
}
.btn-circle:hover, .btn-circle:focus {
	outline: 0;
	color: #fff;
	background: rgba(255, 255, 255, .1);
}
.page-scroll .btn-circle i.animated {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;
	-moz-transition-property: -moz-transform;
	-moz-transition-duration: 1s;
}
.page-scroll .btn-circle:hover i.animated {
	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
}
 @-webkit-keyframes pulse {
 0 {
 -webkit-transform: scale(1);
 transform: scale(1);
}
 50% {
 -webkit-transform: scale(1.2);
 transform: scale(1.2);
}
 100% {
 -webkit-transform: scale(1);
 transform: scale(1);
}
}
 @-moz-keyframes pulse {
 0 {
 -moz-transform: scale(1);
 transform: scale(1);
}
 50% {
 -moz-transform: scale(1.2);
 transform: scale(1.2);
}
 100% {
 -moz-transform: scale(1);
 transform: scale(1);
}
}
.content-section {
	padding-top: 45px;
	padding-bottom:30px;
}
.download-section {
	width: 100%;
	padding: 50px 0;
	color: #fff;
	background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
#map {
	width: 100%;
	height: 200px;
	margin-top: 100px;
}
 @media(min-width:767px) {
 .download-section {
 padding: 100px 0;
}
 #map {
 height: 400px;
 margin-top: 250px;
}
}
.btn {
	text-transform: uppercase;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
 -webkit-transition: all .3s ease-in-out;
 -moz-transition: all .3s ease-in-out;
 transition: all .3s ease-in-out;
}
.btn-default {
	border: 1px solid #fff;
	color: #fff;
	background-color: transparent;
}
.btn-default:hover, .btn-default:focus {
	border: 1px solid #478ff1;
	outline: 0;
	color: #fff;
	background-color: #1663cc ;
}
.btn-huge {
	padding: 25px;
	font-size: 26px;
}
.banner-social-buttons {
	margin-top: 0;
}
.prog{ margin:10px 0px;}
 @media(max-width:1199px) {
 ul.banner-social-buttons {
 margin-top: 15px;
}
}
 @media(max-width:767px) {
 ul.banner-social-buttons>li {
 display: block;
 margin-bottom: 20px;
 padding: 0;
}
 ul.banner-social-buttons>li:last-child {
 margin-bottom: 0;
}
}

::-moz-selection {
 text-shadow: none;
 background: #fcfcfc;
 background: rgba(255, 255, 255, .2);
}

::selection {
 text-shadow: none;
 background: #fcfcfc;
 background: rgba(255, 255, 255, .2);
}
 img::selection {
 background: 0 0;
}
 img::-moz-selection {
 background: 0 0;
}
body {
	webkit-tap-highlight-color: rgba(255, 255, 255, .2);
}
.main_form1 {
	padding:10px!important;
	background-color:#FFFFFF!important;
	height:50px!important;
	box-shadow:none!important;
	border:none;
!important;
	font-size:18px;
}
.main_btn1 {
	padding:10px 15px!important;
	background-color:#1663cc!important;
	height:50px!important;
	box-shadow:none!important;
	border:none!important;
	color:#FFFFFF!important;
	font-size:19px;
}
.main_btn1:hover {
	background-color:#1c6bd5!important;
}
.tip {
	color:#999999;
	font-size:14px;
	margin-top:5px;
}
.si-icon {
	color:#FFFFFF!important;
	font-size:42px;
	padding:10px;
}
.intro {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-attachment:fixed;
}
.intro-body {
	display: table-cell;
	vertical-align: middle;
}
.brand-heading {
	font-size: 40px;
}
.portfolio-item {
	margin-bottom: 25px;
}
.collection .thumbnail > span {
	background: none repeat scroll 0 0 #262626;
	bottom: 0;
	box-sizing: border-box;
	color: #ffffff;
	display: block;
	font-size: 15px;
	left: 0;
	min-height: 21px;
	opacity: 0.88;
	padding: 10px 10px 10px 20px;
	position: absolute;
	transition: all 0.3s ease 0s;
	width: 100%;
	z-index: 5;
}
.collection .thumbnail:hover {
	background: none repeat scroll 0 0 #000;
	bottom: 0;
	box-sizing: border-box;
	color: #ffffff;
	display: block;
	font-size: 15px;
	left: 0;
	min-height: 21px;
	opacity: 0.88;
	padding: 10px 10px 10px 20px;
	position: absolute;
	transition: all 0.3s ease 0s;
	width: 100%;
	z-index: 5;
}
.thumbnails.collection .thumbnail {
	border: medium none;
	border-radius: 0;
	box-shadow: none;
	overflow: hidden;
	padding: 0;
	position: relative;
	border-radius:3px
}
.wht_bg {
	background-color:#FFFFFF;
	padding:25px 0px;
}
.collection a {
	color:#FFFFFF!important;
	font-style:italic;
}
ul, ol {
	list-style:none;
}
.thumbnails.collection .thumbnail li {
	list-style:none;
}
.thumbnails.collection .thumbnail li a {
}
.collection {
	padding-left:0px;
	margin-left:0px;
}
.comingsoon {
	background-color:#26518c;
	color:#fff!important
}
.comingsoon p {
	margin:40px 0px 45px 0px!important;
	font-size:40px!important;
}
#footer {
	background-color:#313131;
	text-align:center;
	color:#666666
}
.footer {
	padding:25px 0px!important
}
.footer a {
	color:#666666!important
}
.footer a:hover {
	color:#999999!important
}



.notification-menu {
    list-style: none outside none; padding-left:5px;
}
.notification-menu > li {
    display: inline-block;
    float: left;
    position: relative;
}
.notification-menu .info-number {
    background: none repeat scroll 0 0 #fff;
    border-color: #fff;
    color: #333;
    font-size: 16px;
    height: 50px;
    padding: 13px 10px;
    transition: all 0.2s ease-out 0s;
}
.info-number .badge {
    background: none repeat scroll 0 0 #ff6c60;
    border-radius: 2px;
    font-size: 10px;
    font-weight: normal;
    line-height: 13px;
    padding: 2px 5px;
    position: absolute;
    right: 4px;
    top: 10px;
}



a.info-number{ border:none!important; color:#333333!important;}



.info-number:hover, .info-number:focus, .info-number:active, .info-number.active, .open .dropdown-toggle.info-number{  background-color:#FFFFFF; color:#1663cc!important; border:none!important}




.notification-menu .dropdown-menu:after {
    border-bottom: 6px solid #666666;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 10px;
    top: -6px;
}

.notification-menu .dropdown-menu {
    border: 0 none;
    border-radius: 2px 0 2px 2px;
    box-shadow: none;
    margin-top: 0;
    padding: 5px;
}
.notification-menu .dropdown-menu-head {
    min-width:230px;
    padding: 0;
}
.dropdown-menu-head {
    background: none repeat scroll 0 0 #fff;
}
.dropdown-menu-head .title {
    background: none repeat scroll 0 0 #666666;
    color: #fff;
    font-size: 12px;
    margin: 0;
    padding: 15px;
    text-transform: uppercase;
}

.notification-menu .dropdown-menu-head ul {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #ddd #ddd;
    border-image: none;
    border-right: 1px solid #ddd;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    padding: 0;
}
.user-list {
    width: 300px;
}
.notification-menu .dropdown-menu li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: none;
    margin: 0;
    padding: 10px 15px; 
}
.dropdown-list li {
    border-bottom: 1px solid #eee;
    overflow: hidden;
    padding: 5px;
}

.notification-menu .dropdown-menu-head li a {
    color: #333;
    opacity: 1;
    padding: 0;
}
.notification-menu .dropdown-menu li a {
    border-radius: 2px;
    color: #000;
    font-size: 13px;
    transition: all 0.2s ease-out 0s;
}
.sticky-header .menu-right {
    margin-right: 15px;
}
.menu-right {
    float: right; margin-top:4px;
 
}

.notification-menu .dropdown-menu-head li a:hover{ color:#00CC00;}


.notification-menu .dropdown-menu li{ border-bottom:1px solid #eee;

}


.notification-menu .dropdown-menu li a:hover {
    border-radius: 2px;
    color: #1663cc;
    font-size: 13px;
    transition: all 0.2s ease-out 0s; background-color:#FFFFFF
}




.normal-list li .name {
    font-size: 13px;
    line-height: 21px;
}

.normal-list li .msg {
    color: #999;
    display: block;
    font-size: 12px;
    line-height: normal;
}


.head-container {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.85);
    border: 1px solid #fff;
}
.profile_banner{ background-color:#313131; margin-top:63px; padding: 0px; }


.linkstop{ float:right!important; background-color:#313131}



.profile_lft{
	background-image: url(../img/profile.png);
	background-repeat: repeat;
}

.profile_main{ padding:25px 0px 0px 0px;}
.profile_lft .img-circle{ border:6px solid #858585!important;}
.title_p{}
.title_p h2{
	font-size:22px;
	text-transform: none;
	color: #FFFFFF;
	font-weight: normal;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
.btn_mar{ margin:0px 0px  20px 0px;}
.pbtm{ width:100%; border-top:1px solid #848484; margin-top:25px;}
.plinks{ color:#CCCCCC;}
.plinks span{ color:#00FF00;}


.inner{ background-color:#FFFFFF; border:1px solid #CCCCCC; margin-top:80px; margin-bottom:10px;  padding:20px;}









 @media (max-width:800px) { .linkstop{ float:left!important; }
 
 }

 @media (min-width:100px) and (max-width:430px) {
 .logobg {
	background-color:#1663cc!important;
	color: #FFF!important;
	padding:20px 21px!important;
	font-size:21px!important;
	font-family: 'Roboto', sans-serif;
	letter-spacing:-1px!important;
	text-transform:none!important
}}









}
 @media (min-width:100px) and (max-width:800px) {
 .intro-text {
 font-size: 25px;
line-height:normal;
 margin-bottom:15px;
margin-top:4px;
text-align:center!important;
}
 .social-icons {
margin-top:15px;
margin-bottom:55px;
}
}
